@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *, .sunset, .sunset *, .dawn, .dawn *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.light {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.sunset {
  --background: #1c100c;
  --foreground: #fff3ed;
  --color-zinc-950: #1a0e08;
  --color-zinc-900: #2b150c;
  --color-zinc-800: #3f1e10;
  --color-zinc-700: #572915;
  --color-zinc-600: #71351a;
  --color-zinc-200: #e0ac93;
  --color-zinc-300: #d49578;
  --color-indigo-400: #fb923c;
  --color-indigo-500: #f97316;
  --color-indigo-600: #ea580c;
}

.dawn {
  --background: #060913;
  --foreground: #eef2ff;
  --color-zinc-950: #040711;
  --color-zinc-900: #0a1128;
  --color-zinc-800: #111d40;
  --color-zinc-700: #1c2b59;
  --color-zinc-600: #293d73;
  --color-zinc-200: #869ddb;
  --color-zinc-300: #6b86ce;
  --color-indigo-400: #8b5cf6;
  --color-indigo-500: #7c3aed;
  --color-indigo-600: #6d28d9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* --- ESTILO DAS BARRAS DE ROLAGEM (THIN SCROLLBARS) --- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}

/* Estilo ainda mais fino para áreas específicas */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* zinc-600 */
}

/* Compatibilidade com Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}
